<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">



    <!-- 扫描web相关的bean -->
    <context:component-scan base-package="com.xd.controller"/>



    <!--aop-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>


    <!-- 开启SpringMVC注解模式 -->
    <mvc:annotation-driven/>


    <!-- 静态资源默认servlet配置 -->
    <mvc:default-servlet-handler/>


    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 配置拦截器作用的路径 -->
            <mvc:mapping path="/admin/**" />
            <mvc:mapping path="**/report/**" />
            <!-- 配置不需要拦截作用的路径 -->
<!--            <mvc:exclude-mapping path="" />-->
            <!-- 定义<mvc:interceptor>元素中，表示匹配指定路径的请求才进行拦截 -->
            <bean class="com.xd.interceptor.AdminInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

<!--    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
<!--        &lt;!&ndash; 如果上传后出现文件名中文乱码可以使用该属性解决 &ndash;&gt;-->
<!--        <property name="defaultEncoding" value="utf-8"/>-->
<!--        &lt;!&ndash; 单位是字节，不设置默认不限制总的上传文件大小，这里设置总的上传文件大小不超过1M（1*1024*1024） &ndash;&gt;-->
<!--        <property name="maxUploadSize" value="1048576"/>-->
<!--        &lt;!&ndash; 跟maxUploadSize差不多，不过maxUploadSizePerFile是限制每个上传文件的大小，而maxUploadSize是限制总的上传文件大小 &ndash;&gt;-->
<!--        <property name="maxUploadSizePerFile" value="1048576"/>-->
<!--    </bean>-->
<!--    &lt;!&ndash; 设置一个简单的异常解析器，当文件上传超过大小限制时跳转 &ndash;&gt;-->
<!--    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">-->
<!--        <property name="defaultErrorView" value="/error.jsp"/>-->
<!--    </bean>-->


    <!-- 配置jsp 显示ViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

</beans>