<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为ActivityDao接口方法提供sql语句配置 -->
<mapper namespace="com.xd.dao.UserDao">

    <resultMap id="baseUser" type="com.xd.pojo.User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="email" column="email" jdbcType="VARCHAR" />
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="bio" column="bio" jdbcType="VARCHAR" />
        <result property="nickname" column="nickname" jdbcType="VARCHAR" />
        <result property="profile" column="profile" jdbcType="VARCHAR" />
        <result property="states" column="states" jdbcType="INTEGER" />
        <result property="registerTime" column="register_time"  jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="login" resultMap="baseUser" parameterType="com.xd.pojo.User">
        select * from `user` where binary email=#{email} ;
    </select>

    <insert id="register" parameterType="com.xd.pojo.User">
        insert into `user` (email,password,nickname,profile) values (#{email},#{password},#{nickname},#{profile});
    </insert>

    <select id="checkNickname" resultMap="baseUser">
        select * from `user` where nickname = #{nickName};
    </select>

    <select id="checkEmail" resultMap="baseUser">
        select * from `user` where  email=#{email};
    </select>

    <select id="getUserByNickname" resultMap="baseUser">
        select * from `user` where  nickname = #{nickname}
    </select>

    <select id="getUserById" resultMap="baseUser">
        select * from `user` where  id = #{id};
    </select>


    <update id="updateProfileImg" parameterType="com.xd.pojo.User">
        update user set profile = #{profile} where id = #{id};
    </update>

    <update id="updateInfo" parameterType="com.xd.pojo.User">
        update user set
            email = #{email} ,
            bio = #{bio},
            nickname = #{nickname}
        where id = #{id};
    </update>


    <select id="getAllUsers" resultMap="baseUser">
        select * from `user`;
    </select>

    <update id="ban" parameterType="INTEGER">
        update `user` set is_banned = 1 where id = #{uid};
    </update>

</mapper>